.w3-theme {
    color: #ffff !important;
    background-color: #ff8e01 !important
}

.w3-code {
    border-left: 4px solid #ff8e01;
    color: black !important;
}

.background-page, body {
    background-color: #463F3A !important;
    color: #fff !important;
}

.background-second-layer-info {
    background-color: #4E4946;
}

.w3-text-IE {
    color:#384655!important
}

.myMenu {
    margin-bottom: 150px
}

#Imagem {
    display: none
}

#imagemSelecionada {
    width: 20%;
    height: auto;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.font-color-about {
    color: black;
}